body {
    height: 0;
    padding: 0;
}

#mypic {
    margin-top: 40pt;
    margin-left: 450pt;
    position: center;
}

.data {
    background-color: #999;
}

footer {
    background-color:#333;
    text-align: center;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
  }

form {
    background-color: thistle;
    margin-left: 200pt;
    margin-right: 200pt;
    margin-top: 20pt;
    margin-bottom: 20pt;
}